<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            background: white url(../../Content/img/velo.jpg) no-repeat center;
          //  background-size:center;
            background-color: rgba(0, 120, 201, 0.2);
            
        }
    </style>
</head>
<body>
    ~/Views/Shared/_LayoutPage1.cshtml
    <div>
        @RenderBody()

        this is from master page
       
    </div>
</body>
</html>
