@model BikeStore.Models.Bike

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bike Store</title>
</head>
<body>
    <div> 
        @RenderBody()

        This is shared page
    </div>
</body>
</html>
